name: Verify code building

on: 
  push:
  pull_request:
  
jobs:
  verify-building:
    if: ${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Install arm-none-eabi-gcc
        run: |
          sudo apt-get update
          sudo apt-get install gcc-arm-none-eabi
        
      - name: Start build
        run: |
          sudo chmod -R  777 tools
          make -j16
